@import "../assets/colors.scss";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    filter: blur(0);
    transition: 0.3s;
}

.mainBlurred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    filter: blur(8px);
    pointer-events: none;
    transition: 0.3s;
}

.chooseBrewModalHidden {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
}

.chooseBrewModalVisible {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 320px;
    @media only screen and (max-width: 600px) {
        width: 70%;
    }
    @media only screen and (max-width: 450px) {
        width: 90%;
    }
}

.topSection {
    display: flex;
    flex: 1;
    @media only screen and (max-width: 1135px) {
        flex-direction: column;
    }
}

.topSectionStart {
    display: flex;
    flex-direction: column;
    order: 1;
    justify-content: space-evenly;
    flex: 1;
    min-width: 0;
    min-height: 0;
}

.topSectionEnd {
    display: flex;
    flex-direction: column;
    order: 2;
    flex: 2;
    min-width: 0;
    min-height: 0;
}

.bottomSection {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    @media only screen and (max-width: 1135px) {
        flex-direction: column;
    }
}

.chartSection {
    flex: 1;
    margin: 10px 10px 10px 10px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.2);
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-width: 0;
    min-height: 0;
}

.chartHeader {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $chart-header-bottom-line;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    color: $chart-header-label
}

.chartBody {
    padding: 10px 0 10px 10px;
    &.generalInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
    }
}

.generalInfoRow {
    display: flex;
    padding: 10px;
}

.generalInfoCell {
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.generalInfoValue {
    font-size: 16pt;
    color: $general-details-values;
}

.chartBodyBig {
    padding: 10px 10px 10px 10px;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.headerText {
    padding-bottom: 3px;
    font-size: 24pt;
    font-family: 'Roboto', sans-serif;
    color: $header-text;
}

.modalHeader {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
}

.modalHeaderText {
    font-size: 18pt;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: $header-text;
    padding-right: 25px;
}

.chartIcon {
    height: 24px;
    padding-right: 5px;
}

.menuIcon {
    height: 32px;
    padding: 0 5px 3px 0;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        transform: scale(1.20);
    }
    &:active {
        transition: 0.1s;
        transform: scale(1.40);
    }
}

.closeIcon {
    cursor: pointer;
    height: 24px;
    transition: 0.3s;
    &:hover {
        transform: scale(1.20);
    }
    &:active {
        transition: 0.1s;
        transform: scale(1.40);
    }
}

.chartHeaderLastValue {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-right: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: $chart-header-last-value;
}

.chooseBrewList {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18pt;
    margin: 0;
    display: flex;
    padding: 0;
    flex-direction: column;
}

.chooseBrewListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2px 10px 2px 10px;
    &:hover {
        background: $brew-list-item-hover;
    }
    &:active {
        background: $brew-list-item-active;
    }
}

.onIndicator {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.offIndicator {
    height: 12px;
    width: 12px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
}

.loader_small {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
  }
  .loader_small div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 6px;
    border: 2px solid $loader;
    border-radius: 50%;
    animation: loader-anim 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $loader transparent transparent transparent;
  }
  .loader_small div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .loader_small div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .loader_small div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes loader-anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  