<div [className]="chooseBrewModalClassName">
  <div class="modalHeader">
    <div class="modalHeaderText">CHOOSE BREW</div>
    <img (click)="onMenuCloseClick()" class="closeIcon" src="../assets/closeIcon.png" />
  </div>
  <div class="modalBody">
    <ul class="chooseBrewList">
      <li (click)="onChooseBrewClick(brew)" class="chooseBrewListItem" *ngFor="let brew of allUnits">
        <div>{{brew && getDisplayValue(brew)}}</div>
        <div [className]="brew.on == true ? 'onIndicator' : 'offIndicator'"></div>
      </li>
    </ul>
  </div>
</div>
<section [className]="mainContainerClassName">
  <div class="header">
    <img (click)="onMenuOpenClick()" class="menuIcon" src="../assets/menuIcon.png" />
    <div class="headerText">{{brew && getDisplayValue(brew)}}</div>
  </div>
  <div class="topSection">
    <div class="topSectionStart">
      <section id="generalInfoContainer" class="chartSection">
        <div class="chartHeader">
          <img class="chartIcon" src="../assets/generalIcon.png" />
          <div>Details</div>
          <div [hidden]="brew && !brew.on" class="chartHeaderLastValue" style="color: green">ON</div>
          <div [hidden]="brew && brew.on" class="chartHeaderLastValue" style="color: gray">OFF</div>
        </div>
        <div class="chartBody generalInfo">
          <div class="generalInfoRow">
            <div class="generalInfoCell">
              <div>Alcohol by volume</div>
              <div [hidden]="alcoholByVolumeLoading" class="generalInfoValue">{{alcoholByVolume}}</div>
              <div [hidden]="!alcoholByVolumeLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="generalInfoCell">
              <div>In fermentation</div>
              <div [hidden]="daysInFermentationLoading" class="generalInfoValue">{{daysInFermentation}}</div>
              <div [hidden]="!daysInFermentationLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="generalInfoRow">
            <div class="generalInfoCell">
              <div>Update interval</div>
              <div [hidden]="updateIntervalMinsLoading" class="generalInfoValue">{{updateIntervalMins}}</div>
              <div [hidden]="!updateIntervalMinsLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="generalInfoCell">
              <div>Last update</div>
              <div [hidden]="lastUpdatedLoading" class="generalInfoValue">{{lastUpdated}}</div>
              <div [hidden]="!lastUpdatedLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="generalInfoCell">
              <div>WiFi signal</div>
              <div [hidden]="wifiSignalStrengthStatusLoading" class="generalInfoValue">{{wifiSignalStrengthStatus}}</div>
              <div [hidden]="!wifiSignalStrengthStatusLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="chartSection">
        <div class="chartHeader">
          <img class="chartIcon" src="../assets/temperatureIcon.png" />
          <div>Temperature</div>
          <div class="chartHeaderLastValue">{{lastTemperature}} °C</div>
        </div>
        <div id="temperatureChartContainer" class="chartBody">
          <canvas id="temperatureChart"></canvas>
        </div>
      </section>
    </div>
    <div class="topSectionEnd">
      <section class="chartSection">
        <div class="chartHeader">
          <img class="chartIcon" src="../assets/gravityIcon.png" />
          <div>Gravity</div>
          <div class="chartHeaderLastValue">{{lastGravity}}</div>
        </div>
        <div class="chartBodyBig" [style.height.px]="height">
          <canvas id="gravityChart"></canvas>
        </div>
      </section>
    </div>
  </div>

  <div class="bottomSection">
    <section class="chartSection">
      <div class="chartHeader">
        <img class="chartIcon" src="../assets/batteryIcon.png" />
        <div>Battery</div>
        <div class="chartHeaderLastValue">{{lastBattery}} V</div>
      </div>
      <div class="chartBody">
        <canvas id="batteryChart"></canvas>
      </div>
    </section>

    <section class="chartSection">
      <div class="chartHeader">
        <img class="chartIcon" src="../assets/wifiIcon.png" />
        <div>RSSI</div>
        <div class="chartHeaderLastValue">-{{lastRSSI}} dBm</div>
      </div>
      <div class="chartBody">
        <canvas id="rssiChart"></canvas>
      </div>
    </section>

    <section class="chartSection">
      <div class="chartHeader">
        <img class="chartIcon" src="../assets/angleIcon.png" />
        <div>Angle</div>
        <div class="chartHeaderLastValue">{{lastAngle}}°</div>
      </div>
      <div class="chartBody">
        <canvas id="angleChart"></canvas>
      </div>
    </section>
  </div>

</section>
<router-outlet></router-outlet>