<div [className]="chooseBrewModalClassName">
  <div class="modalHeader">
    <div class="modalHeaderText">CHOOSE BREW</div>
    <img (click)="onMenuCloseClick()" class="closeIcon" src="../assets/closeIcon.png" />
  </div>
  <div class="modalBody">
    <ul class="chooseBrewList">
      <li (click)="onChooseBrewClick(brew)" class="chooseBrewListItem" *ngFor="let brew of allUnits">
        <div>{{brew && getDisplayValue(brew)}}</div>
        <div [className]="brew.on == true ? 'onIndicator' : 'offIndicator'"></div>
      </li>
    </ul>
  </div>
</div>
<section [className]="mainContainerClassName">
  <div class="header">
    <img (click)="onMenuOpenClick()" class="menuIcon" src="../assets/menuIcon.png" />
    <div class="headerText">{{brew && getDisplayValue(brew)}}</div>
  </div>
  <div class="topSection">
    <div class="topSectionStart">
      <section id="generalInfoContainer" class="chartSection">
        <div class="chartHeader">
          <img class="chartIcon" src="../assets/generalIcon.png" />
          <div>Details</div>
          <div [hidden]="brew && !brew.on" class="chartHeaderLastValue" style="color: green">ON</div>
          <div [hidden]="brew && brew.on" class="chartHeaderLastValue" style="color: gray">OFF</div>
        </div>
        <div class="chartBody generalInfo">
          <div class="generalInfoRow">
            <div class="generalInfoCell">
              <div>Alcohol by volume</div>
              <div [hidden]="alcoholByVolumeLoading" class="generalInfoValue">{{alcoholByVolume}}</div>
              <div [hidden]="!alcoholByVolumeLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="generalInfoCell">
              <div>In fermentation</div>
              <div [hidden]="daysInFermentationLoading" class="generalInfoValue">{{daysInFermentation}}</div>
              <div [hidden]="!daysInFermentationLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="generalInfoRow">
            <div class="generalInfoCell">
              <div>Update interval</div>
              <div [hidden]="updateIntervalMinsLoading" class="generalInfoValue">{{updateIntervalMins}}</div>
              <div [hidden]="!updateIntervalMinsLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="generalInfoCell">
              <div>Last update</div>
              <div [hidden]="lastUpdatedLoading" class="generalInfoValue">{{lastUpdated}}</div>
              <div [hidden]="!lastUpdatedLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="generalInfoCell">
              <div>WiFi signal</div>
              <div [hidden]="wifiSignalStrengthStatusLoading" class="generalInfoValue">{{wifiSignalStrengthStatus}}</div>
              <div [hidden]="!wifiSignalStrengthStatusLoading" class="loader_small">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <brew-chart [brewName]="brewName" [dataService]="temperatureService" [chartId]="'temperatureChart'" [iconPath]="'../assets/temperatureIcon.png'"
        [title]="'Temperature'" [unit]="' °C'"></brew-chart>

    </div>

    <div class="topSectionEnd">
      <brew-chart [brewName]="brewName" [dataService]="gravityService" [chartId]="'gravityChart'" [iconPath]="'../assets/gravityIcon.png'"
        [title]="'Gravity'" [height]="height" [lastValueDecimals]="4"></brew-chart>
    </div>

  </div>

  <div class="bottomSection">
    <brew-chart [brewName]="brewName" [dataService]="batteryService" [chartId]="'batteryChart'" [iconPath]="'../assets/batteryIcon.png'"
      [title]="'Battery'" [unit]="' V'"></brew-chart>

    <brew-chart [brewName]="brewName" [dataService]="rssiService" [chartId]="'rssiChart'" [iconPath]="'../assets/wifiIcon.png'"
      [title]="'RSSI'" [unit]="' dBm'"></brew-chart>

    <brew-chart [brewName]="brewName" [dataService]="angleService" [chartId]="'angleChart'" [iconPath]="'../assets/angleIcon.png'"
      [title]="'Angle'" [unit]="'°'"></brew-chart>
  </div>
</section>
<router-outlet></router-outlet>