$general-details-values: #c79b45;
$chart-header-label: #333538;
$chart-header-last-value: #314665;
$header-text: #333538;
$chart-header-bottom-line: #80808030;
$loader: #ffce56;
$brew-list-item-hover: #8080802e;
$brew-list-item-active: #8080804d;